@charset:"utf-8";


fieldset{
  margin-top: 20px;
  width: 500px;
  border-radius: 6px;
  /*margin-left: 400px;*/
  border: 1px solid silver;
  padding: 30px;
}

h2{position: relative;
   top:-30px;}


input{border-radius:4px;
      border:1px solid silver;}

.nome{ width: 100%; }

textarea{border-radius: 4px;
         border:1px solid silver;}


